.banner
  .container_banner
      .wrap-title
          .title PORTFOLIO
          br
          .content WE ARE A TEAM OF HIGHLY SKILLED PROFESSIONALS
section.portfolio_area
  .container-fluid
    .portfolio_filter
      ul.list_style
        li.active(data-filter='*')
          a All
        li(data-filter='.commercial')
          a Commercial
        li(data-filter='.landscaping')
          a Landscaping
        li(data-filter='.newconstruction')
          a New Construction
        li(data-filter='.residential')
          a Residential
    .row.grid_portfolio_area
      .col-lg-4.col-sm-6.col-12.commercial.landscaping
        .portfolio_item
          a.lightbox(href='../../../assets/images/Smith-residence.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/Smith-residence.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.landscaping.residential
        .portfolio_item
          a.lightbox(href='../../../assets/images/portfolio-4.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/portfolio-4.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.commercial.residential
        .portfolio_item
          a.lightbox(href='../../../assets/images/portfolio-7.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/portfolio-7.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.commercial.residential
        .portfolio_item
          a.lightbox(href='../../../assets/images/portfolio-4.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/portfolio-4.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Outdoor Pergola
              .view View Project
      .col-lg-4.col-sm-6.col-12.landscaping.newconstruction
        .portfolio_item
          a.lightbox(href='../../../assets/images/portoflio-5.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/portoflio-5.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.newconstruction.residential
        .portfolio_item
          a.lightbox(href='../../../assets/images/Brown-Residence.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/Brown-Residence.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.landscaping
        .portfolio_item
          a.lightbox(href='../../../assets/images/Brown-Residence.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/Brown-Residence.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Outdoor Pergola
              .view View Project
      .col-lg-4.col-sm-6.col-12.newconstruction
        .portfolio_item
          a.lightbox(href='../../../assets/images/Smith-residence.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/Smith-residence.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Smith Residence
              .view View Project
      .col-lg-4.col-sm-6.col-12.residential
        .portfolio_item
          a.lightbox(href='../../../assets/images/landscaping-1.jpg')(data-lightbox="example-set")
          .portfolio_img
            a.light
              img.img-fluid(src='../../../assets/images/landscaping-1.jpg' alt='')
          .portfolio_text
            a(href='')
              h4 Outdoor Pergola
              .view View Project
