section.portfolio_area.p_100
  .container
    .portfolio_filter
      ul.list_style
        li.active(data-filter='*')
          a(href='#') All
        li(data-filter='.commercial')
          a(href='#') Commercial
        li(data-filter='.landscaping')
          a(href='#') Landscaping
        li(data-filter='.newconstruction')
          a(href='#') New Construction
        li(data-filter='.residential')
          a(href='#') Residential
    .row.grid_portfolio_area.imageGallery1
      .col-md-4.col-6.commercial.landscaping
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.landscaping.residential
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.commercial.residential
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.commercial.residential
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.landscaping.newconstruction
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.newconstruction.residential
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.landscaping
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.newconstruction
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
      .col-md-4.col-6.landscaping.newconstruction
        .portfolio_item
          .portfolio_img
            a.light(href='../../../assets/images/home-kitchen-remodel-1024x721.jpg')
              img.img-fluid(src='../../../assets/images/home-kitchen-remodel-1024x721.jpg' alt='')
          .portfolio_text
            a(href='#')
              h4 Kitchen
