.fade
    .slider_fade
        .slider_img
            img(src="../../../assets/images/slide-main-1.jpg", alt="slide 1")
        .wrap_des
            .wrap_slogan_slider
                .slogan_slider KITCHEN REMODELING DONE 
                    span RIGHT THE FIRST TIME! 
            .wrap_link
                .link_content 
                    a(href="") View Portfolio
    .slider_fade
        .slider_img
            img(src="../../../assets/images/slide-main-3.jpg", alt="slide 2")
    .slider_fade
        .slider_img
            img(src="../../../assets/images/photodune-2079559-interior-of-modern-house-kitchen-m.jpg", alt="slide 3")
