/*@font-face {
    font-family: 'Circular';
    src: url('../fonts/Airbnb_Cereal-Bold.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/Airbnb_Cereal-Book.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/Airbnb_Cereal-Medium.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/