@font-face {
    font-family: 'Circular';
    src: url('../fonts/50655b27ae5bcb2305c72e5dacb11199.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/4642d83aee8b0e727e25f55023a4c3a3.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/8fb4f9eda47845769a0c6626539b36b3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

