/* [Table of contents] 
  1. Minxi 
  2. Global 
  3. Responsive 
  -------------------------------------------------------------------*/
display-flex, .search-form .form-content .form-group.form-group-1, .client-section .post-detail, .travel-section .content .content-detail, .booked-section .content .content-detail, .footer-section .sub-footer, .footer-section .footer-content {
  display: flex;
  display: -webkit-flex; }

/* 2. Global ------------------------------------------------------------ */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background: #fff;
  margin: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: #484848; }

input, select {
  width: 100%;
  height: 100%;
  padding: 13px 12px;
  border: 1px solid #ebebeb;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  color: #484848;
  font-size: 16px;
  font-weight: 600; }

h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25em; }

.container {
  max-width: 1080px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

/* Search Form Section */
.search-form {
  background-image: url(https://a0.muscache.com/4ea/air/r:w775-h300-sfit,e:fjpg-c70/pictures/c49d2d28-c0ae-484b-9db9-0dc93a5e1cd4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  padding-bottom: 64px; }
  .search-form .icon {
    font-size: 32px;
    padding: 16px 24px; }
    .search-form .icon svg {
      height: 1em;
      width: 1em;
      display: block;
      fill: #ffffff; }
  .search-form .content {
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    width: 508px;
    padding: 32px;
    margin: 0 10px; }
  .search-form .form-content h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin: 0; }
  .search-form .form-content p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 22px; }
  .search-form .form-content .form-group {
    margin-bottom: 22px; }
    .search-form .form-content .form-group .form-row {
      margin: 0;
      display: block;
      position: relative; }
    .search-form .form-content .form-group.form-group-1 {
      margin: 0 -8px 22px; }
      .search-form .form-content .form-group.form-group-1 .form-row {
        margin: 0 8px;
        width: 50%; }
        .search-form .form-content .form-group.form-group-1 .form-row input {
          height: auto;
          padding: 14.5px 12px; }
          .search-form .form-content .form-group.form-group-1 .form-row input::-webkit-input-placeholder {
            color: #888; }
          .search-form .form-content .form-group.form-group-1 .form-row input::-moz-placeholder {
            color: #888; }
          .search-form .form-content .form-group.form-group-1 .form-row input:-ms-input-placeholder {
            color: #888; }
          .search-form .form-content .form-group.form-group-1 .form-row input:-moz-placeholder {
            color: #888; }
          .search-form .form-content .form-group.form-group-1 .form-row input:focus {
            border: 1px solid green; }
        .search-form .form-content .form-group.form-group-1 .form-row select {
          height: auto;
          padding: 13px 12px;
          font-weight: normal;
          position: relative;
          background: 0 0;
          z-index: 99; }
      .search-form .form-content .form-group.form-group-1 .ui-datepicker-trigger {
        display: none; }
    .search-form .form-content .form-group label {
      display: block;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.08333333333333333em;
      margin-bottom: 7px; }
    .search-form .form-content .form-group input::-webkit-input-placeholder {
      color: #484848; }
    .search-form .form-content .form-group input::-moz-placeholder {
      color: #484848; }
    .search-form .form-content .form-group input:-ms-input-placeholder {
      color: #484848; }
    .search-form .form-content .form-group input:-moz-placeholder {
      color: #484848; }
    .search-form .form-content .form-group .select-btn {
      position: absolute;
      z-index: 9;
      top: 41px;
      right: 16px; }
      .search-form .form-content .form-group .select-btn svg {
        height: 16px;
        width: 16px;
        display: block;
        fill: #484848; }
  .search-form .form-content .form-row-last {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    margin-top: 32px; }
    .search-form .form-content .form-row-last input {
      cursor: pointer;
      border: none;
      color: #fff;
      background: #FF5A5F;
      padding: 15px 12px; }

.ui-datepicker {
  z-index: 99 !important; }

/* End Search Form Section */
/*  Client Section */
.client-section .content {
  margin: 26px 9px 0; }
  .client-section .content .title {
    overflow: hidden;
    padding-bottom: 23px; }
    .client-section .content .title > span {
      float: left;
      margin-right: 8px;
      margin-top: -4px; }
    .client-section .content .title svg {
      height: 24px;
      width: 24px;
      fill: #FFB400; }
    .client-section .content .title h3 {
      margin-bottom: 13px; }
    .client-section .content .title p {
      font-size: 16px;
      line-height: 1.375em;
      margin-top: 0; }
      .client-section .content .title p span {
        font-weight: 700; }
.client-section .post-detail {
  margin: 0 -8px; }
  .client-section .post-detail .post-inner {
    width: 33.33%;
    margin: 0 8px; }
    .client-section .post-detail .post-inner a img {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      width: 100%; }
    .client-section .post-detail .post-inner .icon {
      color: #008489;
      font-size: 16px;
      margin-top: 11px; }
      .client-section .post-detail .post-inner .icon span {
        display: inline-block;
        margin-right: 3px; }
      .client-section .post-detail .post-inner .icon svg {
        height: 1em;
        width: 1em;
        display: block;
        fill: currentColor; }
    .client-section .post-detail .post-inner .review {
      margin-top: 5px; }
    .client-section .post-detail .post-inner .client-info {
      overflow: hidden;
      margin-top: 15px; }
      .client-section .post-detail .post-inner .client-info .image {
        float: left;
        margin-right: 18px;
        margin-top: 2px; }
        .client-section .post-detail .post-inner .client-info .image img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%; }
      .client-section .post-detail .post-inner .client-info .info p {
        margin-top: 0; }
      .client-section .post-detail .post-inner .client-info .info .name {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.375em; }

/*  End Client Section */
/* Travel Section */
.travel-section .content {
  margin: 50px 9px 0; }
  .travel-section .content .title h3 {
    padding-bottom: 18px;
    border-bottom: 1px solid #ebebeb; }
  .travel-section .content .content-detail {
    border-bottom: 1px solid #ebebeb;
    padding-top: 8px;
    padding-bottom: 30px; }
    .travel-section .content .content-detail .content-inner {
      width: 33.33%;
      margin-right: 32px; }
      .travel-section .content .content-detail .content-inner svg {
        height: 40px;
        width: 40px;
        display: block;
        fill: #60B6B5; }
      .travel-section .content .content-detail .content-inner h4 {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 3px; }

/* End Travel Section */
/* Booked Section */
.booked-section .content {
  margin: 0 9px;
  padding-top: 26px; }
  .booked-section .content .title h3 {
    margin-bottom: 18px; }
  .booked-section .content .content-detail {
    margin: 0 -8px; }
  .booked-section .content .content-inner {
    overflow: hidden;
    margin: 0 8px; }
    .booked-section .content .content-inner .icon {
      padding-top: 4px; }
      .booked-section .content .content-inner .icon span {
        float: left;
        margin-right: 1px;
        font-weight: 500;
        font-size: 12px; }
      .booked-section .content .content-inner .icon .star {
        margin-top: 3px; }
        .booked-section .content .content-inner .icon .star a {
          color: #008489;
          font-size: 9px;
          font-weight: normal; }
      .booked-section .content .content-inner .icon .number {
        margin-left: 3px; }
      .booked-section .content .content-inner .icon svg {
        height: 1em;
        width: 1em;
        display: block;
        fill: currentColor; }
    .booked-section .content .content-inner .image img {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      width: 100%; }
    .booked-section .content .content-inner .locate {
      padding-top: 3px; }
      .booked-section .content .content-inner .locate a {
        color: #767676;
        font-size: 12px;
        font-weight: 800; }
    .booked-section .content .content-inner h4 {
      font-size: 16px;
      font-weight: 800;
      margin: 1px 0; }
  .booked-section .content .show-all {
    font-size: 17px;
    font-weight: 500;
    margin-top: 17px; }
    .booked-section .content .show-all a {
      color: #008489; }
      .booked-section .content .show-all a:hover {
        text-decoration: underline; }
    .booked-section .content .show-all svg {
      height: 10px;
      width: 10px;
      fill: currentColor; }
  .booked-section .content .add-dates {
    padding-top: 29px;
    padding-bottom: 65px; }
    .booked-section .content .add-dates h3 {
      margin-bottom: 2px; }
    .booked-section .content .add-dates p {
      font-size: 16px; }
    .booked-section .content .add-dates .btn {
      color: #fff;
      background: #008489;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;
      margin-top: 16px;
      display: inline-block;
      padding: 13.5px 24px;
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box; }

/* End Booked Section */
/* Footer */
.footer-section {
  margin-bottom: 48px; }
  .footer-section .line {
    border: 1px solid #ebebeb; }
  .footer-section .content {
    margin: 0 9px; }
  .footer-section .sub-footer {
    padding-top: 17px;
    border-top: 1px solid #ebebeb;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
    .footer-section .sub-footer svg {
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      fill: #767676; }
    .footer-section .sub-footer span {
      font-weight: 500;
      color: #767676; }
  .footer-section .footer-content {
    padding-bottom: 4px; }
    .footer-section .footer-content .footer-item {
      padding-top: 44px;
      width: 25%; }
      .footer-section .footer-content .footer-item .icon-socials {
        padding-top: 23px; }
        .footer-section .footer-content .footer-item .icon-socials span {
          padding: 0 5px; }
        .footer-section .footer-content .footer-item .icon-socials svg {
          height: 18px;
          width: 18px;
          display: inline-block;
          fill: #767676; }
      .footer-section .footer-content .footer-item h4 {
        margin-bottom: 14px; }
      .footer-section .footer-content .footer-item ul {
        list-style-type: none;
        padding-left: 0; }
        .footer-section .footer-content .footer-item ul li {
          padding-bottom: 2px; }
          .footer-section .footer-content .footer-item ul li a {
            color: #767676;
            font-weight: 500; }
            .footer-section .footer-content .footer-item ul li a:hover {
              text-decoration: underline; }
          .footer-section .footer-content .footer-item ul li span {
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            background: #006a70;
            padding: 1px 5px;
            margin-left: 5px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px; }

/* End Footer */
/* 3. Responsive  ------------------------------------------------------------ */
