@font-face {
  font-family: "Circular";
  src: url("../font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2")
    format("woff");
}
@font-face {
  font-family: "CircularBook";
  src: url("../font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2")
    format("woff");
}
@font-face {
  font-family: "CircularMedium";
  src: url("../font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2")
    format("woff");
}

* {
  font-family: "Circular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.container-header {
  width: 100%;
  background-image: url("../Image/c49d2d28-c0ae-484b-9db9-0dc93a5e1cd4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding-bottom: 64px;
  position: relative;
}

.header-logo {
  padding: 25px;
}

.header-logo svg {
  height: 2.5em;
  width: 2.5em;
  display: block;
  fill: #ffffff;
}

.header-form {
  width: 508px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 210px;
}

.form {
  padding: 32px;
}

.title-form h2 {
  font-size: 32px;
}

.content-form {
  font-size: 20px;
  letter-spacing: normal;
  line-height: 26px;
  margin: 8px 0;
  font-family: "Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif";
}

.form-group {
  margin: 20px 0;
  overflow: hidden;
}

.label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.input input {
  width: 100%;
  padding: 11px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  line-height: 24px;
}

.select select {
  width: 100%;
  padding: 16px 11px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  line-height: 24px;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.right {
  margin-right: 10px;
}

.left {
  margin-left: 10px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #c8c1c1;
  border-radius: 4px;
  background-color: #df3c47;
}

/* body */

.container-body {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 50px;
}

.title-body {
  font-size: 24px;
}

.content-title {
  width: 100%;
  margin-top: 15px;
}

.icon-star {
  width: 3%;
  float: left;
}

.content-title-star {
  width: 97%;
  float: left;
  font-size: 16px;
}

/* body product  */

.container-body .product {
  width: 100%;
  display: flex;
  padding-top: 15px;
}

.product .col-md-4 {
  width: 33.333333%;
  margin: 0 0 10px 10px;
  padding-bottom: 50px;
}

.img-product img {
  width: 100%;
  border-radius: 4px;
}

.rated-product {
  padding: 5px;
}

.content-product {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* footer */

.footer {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.overight {
    border-top : 1px solid #EBEBEB;
    padding: 10px;
}

.footer-logo {
  width: 3%;
  float: left;
}

.footer-logo svg {
  height: 2.5em;
  width: 2.5em;
  display: block;
  fill: #767676;
}

.trademark {
    width: 97%;
    margin: 10px 50px;
}