.categories-container
    .container
        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Expiring-Soon.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text EXPIRING SOON
                            span._2nd-text DON'T MISS OUT
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Summer-Specials.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text SUMMER SPECIALS
                            span._2nd-text SAVE ON TOP DESTINATIONS
                        .button-view    
                            button.offers VIEW OFFERS      

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Honeymoon-Romance.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text HONEYMOON & ROMANCE
                            span._2nd-text ESCAPE WITH YOUR LOVE
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Bed-Breakfast.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text BED & BREAKFAST
                            span._2nd-text GREAT RATES WITH BREAKFAST
                        .button-view    
                            button.offers VIEW OFFERS

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Spa-Getaways.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text SPA GETAWAYS
                            span._2nd-text RELAX & REJUVENATE
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Stay-Longer-Save.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text STAY LONGER & SAVE
                            span._2nd-text MORE TIME, MORE MEMORIES
                        .button-view    
                            button.offers VIEW OFFERS   

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/advance-purchase.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text ADVANCED PURCHASE
                            span._2nd-text BOOK EARLY & SAVE
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Beach-Escapes.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text BEACH ESCAPES
                            span._2nd-text SUN, SURF & MORE
                        .button-view    
                            button.offers VIEW OFFERS   

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Ultratravel-Collection.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text ULTRATRAVEL COLLECTION
                            span._2nd-text EXPERIENCE FIVE-STAR LUXURY
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Family-Fun.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text FAMILY FUN
                            span._2nd-text FUN FOR THE WHOLE FAMILY
                        .button-view    
                            button.offers VIEW OFFERS  

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Hit-The-Links.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text HIT THE LINKS
                            span._2nd-text FIND GOLF OFFERS
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Suite-Deals.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text SUITE DEALS
                            span._2nd-text LIVE THE SUITE LIFE
                        .button-view    
                            button.offers VIEW OFFERS  

        .row.categories-row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Shop-Til-You-Drop.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text SHOP 'TIL YOU DROP
                            span._2nd-text EXPLORE SHOPPING OFFERS
                        .button-view    
                            button.offers VIEW OFFERS

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .category(style='background-image: url("../../../assets/images/category/Dining-Deals.jpg")')
                    .description
                        .icon
                            img(src="../../../assets/images/offer-icon.png")
                        .des
                            span._1st-text DINING DEALS
                            span._2nd-text SAVE ON MEALS
                        .button-view    
                            button.offers VIEW OFFERS  

        .row.categories-row 
            .category(style='background-image: url("../../../assets/images/category/Year-Round-Offers.jpg")')
                .description
                    .icon
                        img(src="../../../assets/images/offer-icon.png")
                    .des
                        span._1st-text YEAR ROUND OFFERS
                        span._2nd-text A YEAR'S WORTH OF DEALS
                    .button-view    
                        button.offers VIEW OFFERS                                                                                     