.olapic-wall
    .olapic-top
        .olapic-button
            a(href="#") Add a photo
        .olapic-select
            .olapic-select-desktop
                .viewall
                    a View All
                ul.olapic-desktop
                    li.active.active1
                        a View All
                    li
                        a Africa
                    li
                        a Americas
                    li
                        a Asia
                    li
                        a Europe
                    li
                        a Middle East
    .olapic-main
        .container
            .show-image1
                a(href="#")
                    img(src="https://z2photorankmedia-a.akamaihd.net/media/2/x/7/2x7dpc4/normal.jpg", alt="")
            .show-image2
                .show-image3
                    a(href="#")
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/u/f/k/ufkpjc4/normal.jpg", alt="")
                .show-image3
                    a(href="#")
                        img(src="https://z1photorankmedia-a.akamaihd.net/media/w/c/q/wcqc2d4/normal.jpg", alt="")
                .show-image3
                    a(href="#")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/m/o/3/mo3ro74/normal.jpg", alt="")
                .show-image3
                     a(href="#")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/h/4/n/h4ndvf4/normal.jpg", alt="")
