.footer
    .container-box
        .row
            .footer-logo.col-lg-3.col-md-3.col-sm-12.col-xs-12
                img(src="../../../assets/images/GHA-Site-Template.png")
            .col-lg-6.col-md-3.col-sm-6.col-xs-6
                .footer-nav
                    ul
                        li
                            a(href="#") SITE MAP |
                        li
                            a(href="#") ABOUT GHA |
                        li
                            a(href="#") PRESS |
                        li
                            a(href="#") FREQUENTLY ASKED QUESTIONS
                
            .contact.col-lg-3.col-md-3.col-sm-6.col-xs-6
                .media
                    a.md(href="#facebook")
                        img(src="../../../assets/images/footer/facebook.png")
                    a.md(href="#facebook")
                        img(src="../../../assets/images/footer/instagram.png")
                .term-services
                    a.tx.lk(href="#") Privacy & Terms
                    p.tx © Global Hotel Alliance