
div#product.container-fluid
    div#chapTop
        div.imagesChap
            img.slider-img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-Blk-Sil-front-01_b9d256bf-1e05-44d8-9058-6b5d97a2cf4a_1280x.jpg?v=1540027611')
            img.slider-img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-blk-sil-02_d1f94e35-1e15-4230-b3af-47ecbb06ebdc_1280x.jpg?v=1540027611')
            img.slider-img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-blk-sil-03_28a96a9d-d3ea-4ec7-b62f-066be308f3e3_1280x.jpg?v=1540027611')
            div.selectImage
                ul
                    li.bullets
                        .outer-circle
                            img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-Blk-Sil-front-01_b9d256bf-1e05-44d8-9058-6b5d97a2cf4a_1280x.jpg?v=1540027611')
                        
                    li.bullets
                        .outer-circle
                            img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-blk-sil-02_d1f94e35-1e15-4230-b3af-47ecbb06ebdc_1280x.jpg?v=1540027611')
                    li.bullets
                        .outer-circle
                            img(src='//cdn.shopify.com/s/files/1/2694/4876/products/B4403-blk-sil-03_28a96a9d-d3ea-4ec7-b62f-066be308f3e3_1280x.jpg?v=1540027611')
            
        div.PriceChap
            h1 Xelement B4403 Men's Black/Silver Advanced Level-3 Tri-Tex Fabric Motorcycle Pants
            div.miscinfo
                p
                    span By
                    a(href="") Xelement
                    span / SKU#: 
                    |B4403-Blk-Sil-93558
            div.pricing
                .toppricing
                    span.current $69.95
                    span.plus +
                    span.ship 
                        svg.icon.icon--wide.icon--full-color.icon--full-color-free-shipping(aria-hidden='true', focusable='false', role='presentation', viewbox='0 0 233.2 22.4')
                            style.
                                .st0{fill:#5f78b7}.st1{fill:#fff}
                            circle.st0(cx='11.2', cy='11.2', r='11.2')
                            path.st1(d='M9.9 18l-6.2-5.6L5.9 10l3.7 3.3 6.6-7.6 2.5 2.1z')
                            path.st0(d='M36.2 20.9l3.2-18.4h11.5l-.5 2.9H42l-.8 4.4h5.3L46 13h-5.3l-1.4 7.9h-3.1zM67.6 7.8c0 .6-.1 1.1-.2 1.7s-.4 1.1-.8 1.7c-.4.6-.8 1-1.5 1.5s-1.4.7-2.2.9L65 21h-3.4l-2-7.2H56L54.7 21h-3.1l3.2-18.4h7.5c1.8 0 3.2.5 4 1.5.9 1 1.3 2.2 1.3 3.7zm-6.4 3c1.2 0 2-.3 2.5-.9.5-.6.7-1.2.7-2 0-.7-.2-1.3-.6-1.7-.4-.5-1-.7-1.9-.7h-4.5l-.9 5.3h4.7zM69.3 20.9l3.2-18.4H84l-.5 2.9h-8.4l-.7 4.6h5.1l-.5 2.9h-5.1L73 18h8.9l-.5 2.9H69.3zM85.8 20.9L89 2.6h11.5l-.5 2.9h-8.4l-.8 4.5h5.1l-.5 2.9h-5.1l-.9 5.1h8.9l-.5 2.9h-12zM120.1 7.1c-.2-.6-.5-1.1-1-1.4-.5-.4-1.1-.6-1.8-.6-.9 0-1.6.2-2.1.6-.5.4-.8.9-.8 1.5 0 .5.3 1 .8 1.4s1.2.8 1.9 1.1c.8.3 1.5.7 2.3 1.1.8.4 1.4 1 1.9 1.8s.8 1.7.8 2.8c0 1.8-.6 3.2-1.9 4.2-1.3 1-2.9 1.6-5 1.6-1.6 0-2.8-.4-3.9-1.3s-1.7-2-2.1-3.4l2.9-1c.6 1.9 1.8 2.8 3.5 2.8 1 0 1.7-.2 2.3-.7.6-.5.9-1.1.9-1.9 0-.6-.3-1.2-.8-1.7s-1.2-.9-1.9-1.2c-.7-.3-1.5-.7-2.2-1.1-.8-.4-1.4-1-1.9-1.7s-.8-1.6-.8-2.7c0-1.5.6-2.7 1.7-3.7s2.6-1.5 4.5-1.5c1.6 0 2.8.4 3.7 1.1.9.8 1.5 1.7 1.7 2.7l-2.7 1.2zM125.9 20.9l3.2-18.4h3.1l-1.3 7.4h7.6l1.3-7.4h3.1l-3.2 18.4h-3.1l1.4-8h-7.6l-1.4 8h-3.1zM146 20.9l3.2-18.4h3.1l-3.2 18.4H146zM155.3 20.9l3.2-18.4h7.3c.9 0 1.7.1 2.4.4s1.2.7 1.6 1.2c.4.5.7 1 .9 1.6.2.6.3 1.2.3 1.8 0 1.7-.6 3.2-1.8 4.5-1.2 1.2-2.8 1.9-4.9 1.9h-4.6l-1.2 7h-3.2zm9.3-9.9c1.1 0 1.9-.3 2.4-1s.8-1.4.8-2.2c0-1.6-.7-2.4-2.2-2.4h-4.4l-1 5.6h4.4zM172.6 20.9l3.2-18.4h7.3c.9 0 1.7.1 2.4.4s1.2.7 1.6 1.2c.4.5.7 1 .9 1.6.2.6.3 1.2.3 1.8 0 1.7-.6 3.2-1.8 4.5-1.2 1.2-2.8 1.9-4.9 1.9H177l-1.2 7h-3.2zm9.3-9.9c1.1 0 1.9-.3 2.4-1s.8-1.4.8-2.2c0-1.6-.7-2.4-2.2-2.4h-4.4l-1 5.6h4.4zM189.9 20.9l3.2-18.4h3.1L193 20.9h-3.1zM198.3 20.9l3.2-18.4h2.9l5.2 11.5c.3.6.4 1 .5 1.3 0-.4.1-.9.2-1.3l2-11.5h3.1l-3.2 18.4h-2.8l-5.2-11.3c-.2-.4-.4-.9-.6-1.5 0 .1-.1.6-.2 1.5l-2 11.3h-3.1zM224.9 21.2c-2.2 0-3.9-.8-5-2.3s-1.6-3.4-1.6-5.7c0-1.4.2-2.8.6-4.1.4-1.3 1-2.5 1.7-3.5s1.7-1.9 2.9-2.5 2.5-.9 3.9-.9c2.7 0 4.7 1.2 5.8 3.7l-2.8 1.5c-.8-1.5-1.9-2.3-3.4-2.3-1.7 0-3.1.8-4.1 2.4-1 1.6-1.5 3.5-1.5 5.6 0 1.5.3 2.7.9 3.6.6.9 1.5 1.4 2.8 1.4 1 0 1.9-.3 2.6-.9.7-.6 1.2-1.4 1.4-2.4l.1-.5H226l.5-2.8h6.5l-.2 1c-.5 3-1.4 5.2-2.8 6.6-1.4 1.4-3.1 2.1-5.1 2.1z')

                .bottompricing
                    p.lastprice 
                        |List Price
                        span $114.95
                p.affirm 
                    |Or 3 interest-free payments of $24 with  
                    span.affirmlogo Affirm. 
                    a(href="") Learn more
            div.voting   
                svg(viewbox='0 0 32 32')
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z')
                svg(viewbox='0 0 32 32')
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z')
                svg(viewbox='0 0 32 32')
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z')
                svg(viewbox='0 0 32 32')
                     path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z')
                svg(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                a(href="") 23 Reviews
            div.split-dashed
            div.productsize
                label(for="") Sizes
                div.sizeSelection
                    .input-group.mb-3
                    .input-group-prepend
                    div.selectScroll
                        select#inputGroupSelect01.custom-select
                            option(selected='') Select size
                            option(value='30') 30
                            option(value='31') 31
                            option(value='32') 32
                            option(value='33') 33
                            option(value='34') 34
                            option(value='35') 35
                            option(value='36') 36
                            option(value='37') 37
                            option(value='38') 38
                            option(value='39') 39
                            option(value='40') 40
                            option(value='42') 42
                            option(value='43') 43
                            option(value='44') 44
                a(href="") View size chart
            div.proColor 
                p 
                    |COLOR    
                    span /  
                    span SILVER
                div.colorItem 
            div#select-quant.input-group
                label(for="" ) QUANTITY
                div.borderbot
                    button#minus.btn.btn-default.btn-number(type='button', data-type='minus', data-field='quant')
                        |-
                    input(type='text', name='quant', value='1', min='0', disabled='disabled')
                    button#plus.btn.btn-default.btn-number(type='button', data-type='plus', data-field='quant')
                        |+
            button.addtoCart Add to Cart
            div.sub Subcribe and get a 10% discount   
            div.discntbox
                button.getdiscount Get Discount
            p.available 
                strong Avalable
                |We ship most items by 12:00 PM PST Same Day
            div.extraop
                img(src="https://nsg.symantec.com/Web/Seal/si.aspx?s=961939538&p=11&t=a&R=0&x=Minimal1", alt="")
                p +ADD TO WISHLIST
         
    div#chapBot
        div.productDetail
            div.tittle Item Descriptio 
            div.line 
            div.cornertop 
                span
            div.content
                b Xelement B4403 Men's Black/Silver Advanced Level-3 Tri-Tex Fabric Motorcycle Pants
                br
                br
                |Xelement Advanced Level-3 Black and Silver Tri-Tex Fabric Motorcycle Pants with Level-3 Advanced Armor are a great addition to your biker collection. Featuring removable advanced Level-3 knee armor by Atom Armor 
                strong (New Level Of Protection by Level-3 Armor , Lighter Weight, Less Bulky, Level-3 Armor provides Highest CE Approved Protection, Ergonomic Design, Higher Impact Absorption, Free Movement)
                |, Heat protected material, back and front vents, one zippered pocket on each side, elastic panels on waist, knees and crotch for ease of movement, Hook & Loop waist straps for a customizable fit, all these features and much more.
        div.productDetail
            div.tittle Item Descriptio 
            div.line  
            div.cornertop 
                span  
            div.content
                b Xelement B4403 Men's Black/Silver Advanced Level-3 Tri-Tex Fabric Motorcycle Pants
                br
                br
                |Xelement Advanced Level-3 Black and Silver Tri-Tex Fabric Motorcycle Pants with Level-3 Advanced Armor are a great addition to your biker collection. Featuring removable advanced Level-3 knee armor by Atom Armor 
                strong (New Level Of Protection by Level-3 Armor , Lighter Weight, Less Bulky, Level-3 Armor provides Highest CE Approved Protection, Ergonomic Design, Higher Impact Absorption, Free Movement)
                |, Heat protected material, back and front vents, one zippered pocket on each side, elastic panels on waist, knees and crotch for ease of movement, Hook & Loop waist straps for a customizable fit, all these features and much more.
        div.productDetail
            div.tittle Item Descriptio
            div.line 
            div.cornertop  
                span
            div.content
                b Xelement B4403 Men's Black/Silver Advanced Level-3 Tri-Tex Fabric Motorcycle Pants
                br
                br
                |Xelement Advanced Level-3 Black and Silver Tri-Tex Fabric Motorcycle Pants with Level-3 Advanced Armor are a great addition to your biker collection. Featuring removable advanced Level-3 knee armor by Atom Armor 
                strong (New Level Of Protection by Level-3 Armor , Lighter Weight, Less Bulky, Level-3 Armor provides Highest CE Approved Protection, Ergonomic Design, Higher Impact Absorption, Free Movement)
                |, Heat protected material, back and front vents, one zippered pocket on each side, elastic panels on waist, knees and crotch for ease of movement, Hook & Loop waist straps for a customizable fit, all these features and much more.
        div.productDetail
            div.tittle Item Descriptio 
            div.line  
            div.cornertop
                span
            div.content
                b Xelement B4403 Men's Black/Silver Advanced Level-3 Tri-Tex Fabric Motorcycle Pants
                br
                br
                |Xelement Advanced Level-3 Black and Silver Tri-Tex Fabric Motorcycle Pants with Level-3 Advanced Armor are a great addition to your biker collection. Featuring removable advanced Level-3 knee armor by Atom Armor 
                strong (New Level Of Protection by Level-3 Armor , Lighter Weight, Less Bulky, Level-3 Armor provides Highest CE Approved Protection, Ergonomic Design, Higher Impact Absorption, Free Movement)
                |, Heat protected material, back and front vents, one zippered pocket on each side, elastic panels on waist, knees and crotch for ease of movement, Hook & Loop waist straps for a customizable fit, all these features and much more.

div.Most
    div.test
        button#myBtn 
            |Open Modal
        // The Modal
        #myModal.modal
        // Modal content
        .modal-content
            span.close &times;
            p Some text in the Modal..
    h3 YOU MAY ALSO LIKE
    div.row
        
        div.productt.col-lg.col.sm-6.col-xs-6 
            div.anh
                img(src="//cdn.shopify.com/s/files/1/2694/4876/products/B7100-1200_e0b3809f-8d0f-4812-9bc2-3ed516cf77a1_x210.jpg?v=1542742981", alt="")
            .linkpro    
                a(href="") Xelement B7100 'Classic' Men's Black TOP GRADE Leather Motorcycle Biker Jacket
            .starrr
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
            .lastprice
                p 
                    |On Sale from $97.50
                    span 
                        |List PRICE
                        s $199.95
        div.productt.col-lg.col.sm-6.col-xs-6 
            div.anh
                img(src="//cdn.shopify.com/s/files/1/2694/4876/products/XS-105-1200-1_9222bcbc-ae82-417d-9ff6-decdcdd86850_x210.jpg?v=1542741326", alt="")
            .linkpro    
                a(href="") Xelement B7100 'Classic' Men's Black TOP GRADE Leather Motorcycle Biker Jacket
            .starrr
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
            .lastprice
                p 
                    |On Sale from $97.50
                    span 
                        |List PRICE
                        s $199.95
            

        div.productt.col-lg.col.sm-6.col-xs-6             
            div.anh
                img(src="//cdn.shopify.com/s/files/1/2694/4876/products/7554-Comfort-Chaps-front-00_118f5e27-4d80-4b4a-9e45-d64ba5127b99_x210.jpg?v=1539970589", alt="")
            .linkpro    
                a(href="") Xelement B7100 'Classic' Men's Black TOP GRADE Leather Motorcycle Biker Jacket
            .starrr
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
            .lastprice
                p 
                    |On Sale from $97.50
                    span 
                        |List PRICE
                        s $199.95
        div.productt.col-lg.col.sm-6.col-xs-6 
            div.anh
                img(src="//cdn.shopify.com/s/files/1/2694/4876/products/7554-Comfort-Chaps-front-00_118f5e27-4d80-4b4a-9e45-d64ba5127b99_x210.jpg?v=1539970589", alt="")
            .linkpro    
                a(href="") Xelement B7100 'Classic' Men's Black TOP GRADE Leather Motorcycle Biker Jacket
            .starrr
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
            .lastprice
                p 
                    |On Sale from $97.50
                    span 
                        |List PRICE
                        s $199.95
        div.productt.col-lg.col.sm-6.col-xs-6 
            div.anh
                img(src="//cdn.shopify.com/s/files/1/2694/4876/products/B7100-1200_e0b3809f-8d0f-4812-9bc2-3ed516cf77a1_x210.jpg?v=1542742981", alt="")
            .linkpro    
                a(href="") Xelement B7100 'Classic' Men's Black TOP GRADE Leather Motorcycle Biker Jacket
            .starrr
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
                svg.iconbot(viewbox='0 0 32 32')  
                    path(d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z')
            .lastprice
                p 
                    |On Sale from $97.50
                    span 
                        |List PRICE
                        s $199.95
    


