.banner2(style='background-image:url("../../../assets/images/local.jpg"),-webkit-gradient(linear,right top,left top,from(transparent),to(rgba(0,0,0,.75)));')
        .container-fluid
                .banner-title2
                        h2 <span>DISCOVERY</span> LOCAL EXPERIENCES WILL CHANGE THE WAY YOU TRAVEL
                img(src="../../../assets/images/arrow.png")
section
    .container-fluid
        .row
            .col-md-4
                h1 LOCAL EXPERIENCE AWARDS
                p
                        a.button(href="#") EXPLORE THE AWARDS
            .col-md-8
                p DISCOVERY hotel benefits are the core of the loyalty programme; Local Experience awards are its true soul.
                p We believe that the best travel moments come from going beneath the surface of a destination and approaching it through a local lens. Local Experiences awards make this easier by connecting travellers to the people, places, and things that make a destination unique. DISCOVERY members are invited to uncover a world that few get the opportunity to explore.
                b EARNING A LOCAL EXPERIENCE AWARD
                p Local Experience awards are complimentary and are rewarded based upon your membership level and activity in the DISCOVERY programme. Awards also vary by membership level – the higher the membership level, the more exciting and exclusive the experience.
                p • Members receive one Platinum Local Experience award upon reaching Platinum status, and another each year their status is renewed.
                p • Members receive one Black Local Experience award upon reaching Black status, and another each year their status is renewed.
                p • Platinum and Black members earn subsequent Local Experience awards every time they stay at a new DISCOVERY hotel brand; the Local Experience award will correspond to your current membership level.
                a.link(href="#")
                        b LEARN MORE 
                span about the different membership levels on our 
                        a.link(href="#") Benefits 
                        span page.
                br
                b Still have questions? Please read our 
                a.link(href="#") FAQ’s 
                b for further information.
                

                        