#body-search
    .container-box
        .sc
            .row
                .col-lg-10
                    span.h1 FIND SPECIAL OFFERS
                .col-lg-2
                    span.filter RESELT RESULT
            button.search-btn Search
            #ls-dropdown.ls-dropdown-content
                .row
                    form(action="")
                    .col-lg-5.col-md-5.col-sm-5.col-xs-12
                        input.ls-input(placeholder="Location, Hotel Name or Brand") 
                    .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        select.ls-input
                            option a
                            option b
                            option c
                            option d
                            option e
                            option f
                            option g
                            option h
                            option a
                            option b
                            option c
                            option d
                            option e
                            option f
                            option g
                            option h
                    .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        input.ls-input(placeholder="Location, Hotel Name or Brand") 
                    .col-lg-1.col-md-1.col-sm-1.col-xs-12
                        button.ls-search
                            img.search-icon(src="../../../assets/images/search-icon.png")
                            p.searchls