.banner(style='background-image:url("../../../assets/images/membership-banner.png"),-webkit-gradient(linear,right top,left top,from(transparent),to(rgba(0,0,0,.75)));')
        .container-fluid
                .banner-title
                        h2 DISCOVERY
                        h3 A LOYALTY PROGRAMME LIKE NO OTHER
