.home-gallery
    .section-title.text-center
        .container-fluid
            h2.block-title #KEMPINSKI GALLERY
            p.sub-title 
                span.text Our guests always travel the world in style. Mention @Kempinski on Instagram for a chance to be featured!
    .container-fluid.container
        .gallery-slide
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#anasalali")
                    .bg-dark @anasalali
                    img(src="../../../../assets/images/anasanali.jpg", alt="anasanali")
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#bernabetv")
                    .bg-dark @theresabernabetv
                    img(src="../../../../assets/images/bernabetv.jpg", alt="bernabetv")
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#tourismsa")
                    .bg-dark @seychellestourismsa
                    img(src="../../../../assets/images/tourismsa.jpg", alt="seychellestourismsa")
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#grotesque")
                    .bg-dark @anny_grotesque
                    img(src="../../../../assets/images/grotesque.jpg", alt="anny_grotesque")
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#dubai")
                    .bg-dark @brasileiros_em_dubai
                    img(src="../../../../assets/images/dubai.jpg", alt="brasileiros_em_dubai")
            .item
                a(href="", class="gallery-item", data-fancybox="gallery", data-src="#kandaclub")
                    .bg-dark @kandaclub
                    img(src="../../../../assets/images/kandaclub.jpg", alt="kandaclub")
    .container-fluid
        .gallery-footer
            a(href="", class="btn-further-info") View gallery
            a(href="", class="btn-further-info") Add a photo
            .gallery-copy Powered by Olapic
#anasalali.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/anasanali.jpg", alt="anasanali")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2359k
                            p.realname k2359k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/anasanali.jpg", alt="anasanali")
                    p  hotel california
                p.photo-copy Powered by Olapic
#bernabetv.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/bernabetv.jpg", alt="bernabetv")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2360k
                            p.realname k2360k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/bernabetv.jpg", alt="bernabetv")
                    p  hotel california
                p.photo-copy Powered by Olapic
#tourismsa.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/tourismsa.jpg", alt="seychellestourismsa")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2361k
                            p.realname k2361k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/tourismsa.jpg", alt="seychellestourismsa")
                    p  hotel california
                p.photo-copy Powered by Olapic
#grotesque.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/grotesque.jpg", alt="anny_grotesque")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2361k
                            p.realname k2361k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/grotesque.jpg", alt="anny_grotesque")
                    p  hotel california
                p.photo-copy Powered by Olapic
#dubai.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/dubai.jpg", alt="brasileiros_em_dubai")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2361k
                            p.realname k2361k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/dubai.jpg", alt="brasileiros_em_dubai")
                    p  hotel california
                p.photo-copy Powered by Olapic
#kandaclub.gallery-slide2
    .container-fluid
        .row
            .col-lg-7
                img(src="../../../../assets/images/kandaclub.jpg", alt="kandaclub")
                a(class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username k2361k
                            p.realname k2361k
                p.photo-caption Palm trees and cool breeze  ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ ⁣ #bitsofmyworld_ #deadsea #jordan #amman #lovejo #حب_الأردن _أردننا #summer #beach #beachlife #palmtree #quotes #sayings #pool #vacation #relax #travel #traveller #follow #followtrain #like #likes #beauty #nature #photography #landscape #photooftheday #monday #mood #instagood
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa(href=""): i.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    img(src="../../../../assets/images/kandaclub.jpg", alt="kandaclub")
                    p  hotel california
                p.photo-copy Powered by Olapic