
header
    .bgr_header
        .width_container
            //- .logo_web
            //-     a(href="index.pug" title="Renovation")
            //-         img.default_logo(src="https://f71lt0q191r215mt-zippykid.netdna-ssl.com/wp-content/themes/renovation-progression/images/logo.png" alt="Renovation")
            .wrap_grid_menu
                .grid_menu
                    .nav_container
                        .menu_left
                            ul.menu_left_lv1
                                li
                                    a(href="#") home
                                li
                                    a(href="#") shop
                                li
                                    a(href="#") services
                                li
                                    a(href="#") portfolio
            .wrap_grid_menu
                .grid_menu
                    .nav_container
                        .menu_left
                            ul.menu_left_lv1
                                li
                                    a(href="#") testimonials
                                li
                                    a(href="#") latest
                                li
                                    a(href="#") services
                                li
                                    a(href="#") portfolio
            .colum_icon_mobi
                .mobile_menu.mobile_menu_icon
    .wrapp_menu_mobile
        .menu_mobile
            ul.ul_menu_lv1
                li.menu_lv1
                    a.link_menu_lv1(href="#") home
                li.menu_lv1
                    a.link_menu_lv1(href="#") shop
                    span.btn_menu_lv2
                    //--menu 2
                    ul.ul_menu_lv2
                        li.menu_lv2
                            a.link_menu_lv2(href="#") 
                                span.icon_account my account
                        li.menu_lv2
                            a.link_menu_lv2(href="#")
                                span.icon_cart shopping cart
                        li.menu_lv2
                            a.link_menu_lv2(href="#")
                                span.icon_checkout checkout
                    //-->
                li.menu_lv1
                    a.link_menu_lv1(href="#") services
                li.menu_lv1
                    a.link_menu_lv1(href="#") portfolio
                li.menu_lv1
                    a.link_menu_lv1(href="#") testimonials
                li.menu_lv1
                    a.link_menu_lv1(href="#") latestnews
                li.menu_lv1
                    a.link_menu_lv1(href="#") contact us
