body {
    padding-top: 0;
}

a {
    list-style: none;
}

.bgr_header {
    background-color: #252636;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .width_container {
        position: relative;
        width: 92%;
        padding: 0px;
        margin: 0 auto;
        height: 106px;
        z-index: 5;
        .logo_web {
            position: absolute;
            margin: 0 auto;
            display: block;
            max-width: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            a {
                img.default_logo {
                    width: 180px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
        }
        .colum_icon_mobi {
            position: absolute;
            right: 1.5rem;
            height: 100%;
            @include min-md {
                display: none;
            }
            .mobile_menu_icon,
            .mobile_menu_icon_x {
                float: right;
                margin-right: 1.5rem;
            }
            .mobile_menu_icon:after {
                font-family: "Fontawesome";
                content: "\f0c9";
                color: $text-color-secondary;
                padding-top: 42px;
                padding-bottom: 40px;
                font-size: 20px;
                position: absolute;
            }
            .mobile_menu_icon_x:after {
                font-family: "Fontawesome";
                content: "\f00d";
                color: $text-color-secondary;
                padding-top: 42px;
                padding-bottom: 40px;
                font-size: 20px;
                position: absolute;
            }
        }
        .wrap_grid_menu {
            width: 49%;
            display: inline-block;
        }
    }
}

//class chung cho các thẻ li trên menu
.li_menu {
    display: block;
    width: 100%;
}

//class chung cho thẻ a trên menu
.a_link_menu {
    color: #444444;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapp_menu_mobile {
    width: 100%;
    @include min-md {
        display: none;
    }
    .menu_mobile {
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
        ul.ul_menu_lv1 {
            width: 100%;
            li.menu_lv1 {
                @extend .li_menu;
                position: relative;
                a.link_menu_lv1 {
                    @extend .a_link_menu;
                    padding: 16px 1.5rem;
                }
                span.btn_menu_lv2 {
                    width: 50px;
                    background: #e8e8e8;
                    text-align: center;
                    padding: 16px 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    //transform: rotate(180deg)
                }
                span.btn_menu_lv2:after {
                    font-family: "Fontawesome";
                    content: "\F107";
                    color: rgba(0, 0, 0, 0.28);
                }
                ul.ul_menu_lv2 {
                    width: 100%;
                    overflow: hidden;
                    height: 0;
                    transition: height .3s ease;
                    li.menu_lv2 {
                        @extend .li_menu;
                        background: rgba(0, 0, 0, 0.04);
                        a.link_menu_lv2 {
                            @extend .a_link_menu;
                            padding: 16px 3rem;
                            span.icon_account:before {
                                font-family: "Fontawesome";
                                content: "\f2bd";
                                padding-right: 4px;
                            }
                            span.icon_cart:before {
                                font-family: "Fontawesome";
                                content: "\f07a";
                                padding-right: 4px;
                            }
                            span.icon_checkout:before {
                                font-family: "Fontawesome";
                                content: "\f09d";
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}