extends ./layouts/master.pug

block title
  title My Page - Index

block content
  - var pages = { homePage: '/homepage', testPage: '/test'  }

  //- Desktop page
  section.page.home__page
    h1.page__title # Index page3

    ul(style="list-style: disc; padding-left: 4rem; margin: 4rem 0")
      each val, index in pages
        li
          a(href=val)= index
    div(style='padding:15px 15px 2500px;font-size:30px;margin-top:30px;')
      p
        b
          | This example demonstrates how to hide a navbar when the user starts to scroll the page.
      p Scroll down this frame to see the effect!
      p Scroll up to show the navbar.
      p
        | Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
