header {
    position: relative;
    .top-header {
        background: rgba(1,15,42,0.85);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        .row.mx-0 {
            margin: 0px;
            height: 100px;
            .top-logo {
                @include flexbox();
                .logo {
                    a {
                        display: block;
                        img {
                            width: 35%;
                        }
                    }
                }
            }
            .top-slogan {
                align-self: center;
                .text-big {
                    span {
                        font-size: 18px;
                        letter-spacing: 5.6px;
                        text-transform: uppercase;
                        color: color(c-white);
                        line-height: 25px;
                    }
                }
                .text-small {
                    margin-top: 8px;
                    span {
                        font-family: $font-kingscalson;
                        color: color(c-white);
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: -0.9px;
                        padding: 0 15px;
                        position: relative;
                        &:before {
                            content: "";
                            height: 1px;
                            background: #B5A191;
                            width: 100%;
                            position: absolute;
                            top: 10px;
                            right: 100%;
                            max-width: 133px;
                            right: 100%;
                        }
                        &:after {
                            content: "";
                            height: 1px;
                            background: #B5A191;
                            width: 100%;
                            position: absolute;
                            top: 10px;
                            left: 100%;
                            max-width: 133px;
                            right: 100%;
                        }
                    }
                }
            }
            .top-panel {
                align-self: flex-end;
                margin-bottom: 20px;
                .top-panel-wrap {
                    .top-panel-wrap-menu {
                        @include flexbox();
                        .multy-language {
                            .dropdown.open {
                                position: relative;
                                margin-right: 60px;
                                .dropdown-toggle {
                                    color: color(c-white);
                                    font-family: $font-main;
                                    text-transform: uppercase;
                                    font-size: 11px;
                                    letter-spacing: 2.5px;
                                    display: inline-block;
                                    span.content {
                                      display: inline-block;
                                      padding: 4px 0px 2px 6px;
                                      line-height: 16px;
                                      margin-right: 8px;
                                    }
                                    &:hover {
                                        background: $bg-color-dark-blue-navy-1;
                                        cursor: pointer;
                                    }
                                }
                                .dropdown-menu-block {
                                    position: absolute;
                                    top: 20px;
                                    left: 0;
                                    transition: 0.4s;
                                    z-index: 10;
                                    opacity: 0;
                                    visibility: hidden;
                                    ul {
                                        background: $bg-color-dark-blue-navy-1;
                                        border: 1px solid rgba(0,0,0,0.15);
                                        border-radius: 4px;
                                        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                                        li {
                                            margin: 2px 0px;
                                            a {
                                                display: block;
                                                letter-spacing: 2.5px;
                                                padding: 0px 26px 0px 24px;
                                                font-size: 11px;
                                                color: color(c-white);
                                                text-transform: uppercase;
                                                line-height: 1.8;
                                            }
                                            &:hover{
                                                cursor: pointer;
                                                background: $bg-color-dark-blue-navy-2;
                                            }
                                        }
                                    }
                                }
                                .dropdown-menu-block.show-up{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    .loginLink {
                        .login-link {
                            letter-spacing: 2.5px;
                            color: color(c-white);
                            .icon-user{
                                margin-right: 8px;
                                font-size: 12px;
                                color: color(c-brown-light);
                            }
                            .text-login{
                               font-size: 11px;
                               text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner-header{
        height: 620px;
        position: relative;
        .banner-wrapper{
            height: calc(100% - 100px);
            position: absolute;
            top: 100px;
            left: 0px;
            .banner-wrapper-content{
                height: 100%;
                @include flexbox();
                .banner-images-block-left{
                    height: 100%;
                    width: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .banner-images-block-right{
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    @include flexbox();
                    flex-wrap: wrap;
                    .banner-images-block{
                        width: 50%;
                        height: calc((100% - 65px) / 2);
                        padding-left: 5px;
                        .content-block{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            .content.overlay{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                                background: rgba(0,0,0,0.28);
                                @include flexbox();
                                align-items: center;
                                opacity: 0;
                                visibility: hidden;
                                transition: 0.4s;
                                span.text{
                                    font-size: 11px;
                                    text-transform: uppercase;
                                    letter-spacing: 4px;
                                    padding: 8px 0px;
                                    text-align: center;
                                    margin: 0 auto;
                                    color: color(c-white);
                                    width: 210px;
                                    display: inline-block;
                                    border: 1px solid;
                                }
                            }
                            .images-cover{
                                width: 100%;
                                height: 100%;
                                img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            &:hover .content.overlay{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    .search-form{
                        width: 100%;
                        span{
                            display: block;
                            font-size: 11px;
                            padding: 5px 5px 5px 96px;
                            letter-spacing: 3px;
                            line-height: 65px;
                        }
                    }
                }
            }
        }
        .banner-wrapper-inside-page{
            height: calc(100% - 100px);
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            .banner-wrapper-content{
                height: 100%;
                @include flexbox();
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .menu-left{
            position: relative;
            top: 124px;
            left: 0px;
            width: 290px;
            .menu-left-content.delay{
                transform: translateX(-100%);
                padding: 38px 0px;
                animation: showDelay 0.8s forwards;
                background: rgba(1,15,42,0.74);
                .menu-title{
                    font-size: 20px;
                    letter-spacing: 2px;
                    line-height: 28px;
                    text-transform: uppercase;
                    padding: 0px 58px 0px 50px;
                    color: color(c-white);
                    display: block;
                    margin-bottom: 8px;
                }
                .side-menu{
                    .side-list-lv-1{
                        margin-bottom: 1px;
                        a{
                            display: block;
                            font-size: 11px;
                            text-transform: uppercase;
                            padding: 0px 58px 0px 50px; 
                            color: color(c-white);
                            line-height: 2.35;
                        }
                        .sub-menu{
                            position: absolute;
                            top: 0;
                            left: 100%;
                            width: 100%;
                            height: 100%;
                            background: rgba(1,15,42,0.5);
                            padding: 62px 0px 38px;
                            transition: 0.4s;
                            opacity: 0;
                            visibility: hidden;
                            li{
                                &:hover{
                                    background: rgba(14,93,178,0.5);
                                }
                            }
                        }
                        &:hover{
                            background: rgba(14,93,178,0.5);
                        }
                        &:hover .sub-menu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            @keyframes showDelay {
                from {transform: translateX(-100%)}
                to {transform: translateX(0)}
            }
        }
        .menu-left.fixed{
            position: fixed;
            top: 100px;
            left: 0px;
            z-index: 99999;
        }
    }
    .sticky-bar-mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: $bg-color-dark-blue-navy;
        transition: 0.25s;
        transform: translateX(-100%);
        .navigation-trigger{
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                cursor: pointer;
                height: 3px;
                width: 25px;
                margin: 2px 0;
                background: #B5A191;
                display: block;
            }
        }
    }
    .sticky-bar-mobile.show-up{
        transform: translateX(0);
        z-index: 99999;
    }
    .booking-block{
        background: $bg-color-dark-blue-navy;
         .container-fluid{
             width: 1170px;
             padding: 10px 15px;
             form{
                 width: 100%;
                .form-inline-search{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .block-location{
                        width: 306px;
                        max-width: 306px;
                        .select2-container{
                            .select2-dropdown--below{
                                .select2-results{
                                    .select2-results__option{
                                        font-size: 13px;
                                        color: color(c-dark-blue-navy);
                                        &[aria-selected="true"]{
                                            background: #5897fb;
                                            color: color(c-white);
                                        }
                                    }
                                    .select2-results__option--highlighted{
                                        color: color(c-white);
                                        background: #5897fb;
                                    }
                                }
                            }
                        }
                        .form-search-hotel{
                            width: 100%;
                        }
                        .select2-container--default{
                            .selection{
                                .select2-selection--single{
                                    border: none;
                                    border-radius: 2px;
                                    font-size: 12px;
                                    height: 30px;
                                    text-transform: uppercase;
                                    .select2-selection__rendered{
                                        color: color(c-dark-blue-navy);  
                                        line-height: 30px;
                                        position: relative;
                                        &:before{
                                            content: $icon-location;
                                            font-size: 15px;
                                            margin-right: 5px;
                                            font-family: '#{$icomoon-font-family}';

                                        }
                                    }
                                    .select2-selection__arrow{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .error-msg{
                            span{
                                display: block;
                                font-size: 10px;
                                width: 275px;
                                background: #8E3333;
                                color: #fff;
                                padding: 5px;
                                border-radius: 3px;
                                margin-top: 10px;
                                text-align: center;
                                height: 30px;
                                line-height: 20px;
                                overflow: hidden;
                                margin-left: 2px;
                                margin-bottom: 3px;
                            }
                        }
                    }
                    .block-picker{
                        width: 408px;
                        max-width: 408px;
                        display: flex;
                        flex-wrap: wrap;
                        position: relative;
                        justify-content: space-between;
                        margin-left: 4px;
                        align-self: baseline;
                        .form-group{
                            position: relative;
                            width: 49%;
                            input{
                                width: 100%;
                                height: 30px;
                                border: none;
                                border-radius: 2px;
                                font-size: 13px;
                                text-transform: uppercase;
                                color: color(c-black);
                                padding-left: 10px;
                                font-family: $font-helvelticaRegular;
                            }
                            span{
                                position: absolute;
                                top: 8px;
                                right: 10px;
                                color: color(c-brown);
                            }
                        }
                        .error-msg{
                            width: 100%;
                            span{
                                display: block;
                                font-size: 10px;
                                width: 100%;
                                background: #8E3333;
                                color: #fff;
                                padding: 5px;
                                border-radius: 3px;
                                margin-top: 10px;
                                text-align: center;
                                height: 30px;
                                line-height: 20px;
                                overflow: hidden;
                                margin-bottom: 3px;
                            }
                        }
                        .pika-single{
                            width: 100%;
                            padding-top: 25px;
                            padding-bottom: 15px;
                            .pika-lendar{
                                width: 50%;
                                margin: 0px;
                                padding: 0px 12px;
                                .pika-title{
                                    .pika-label{
                                        font-size: 13px;
                                        line-height: 14px;
                                        color: color(c-dark-blue-navy);
                                        font-weight: 300;
                                        text-transform: uppercase;
                                    }
                                }
                                .pika-table{
                                    thead{
                                        th{
                                            padding-bottom: 5px;
                                        }
                                    }
                                    th{
                                        font-size: 10px;
                                        color: #aaaaaa;
                                        text-transform: uppercase;
                                        font-weight: 300;
                                        line-height: 14px;
                                        abbr {
                                            text-decoration: none;
                                        }
                                    }
                                    tbody{
                                        td{
                                            border: 1px solid #c5c2b5;
                                            button{
                                                font-size: 12px;
                                                text-align: center;
                                                color: color(c-dark-blue-navy);
                                                background: none;
                                            }
                                            &.is-today{
                                                button{
                                                    background: #f5f1ea;
                                                    color: color(c-dark-blue-navy);
                                                    font-weight: 300;
                                                }
                                            }
                                            &.is-selected{
                                                box-shadow: none;
                                                .pika-button{
                                                    box-shadow: none;
                                                    background: color(c-brown);
                                                    border-radius: 0px;
                                                    font-weight: 300;
                                                    color: color(c-white);
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                    .block-number{
                        width: 260px;
                        margin-left: 4px;
                        .select2-container{
                            .select2-selection--single{
                                height: 30px;
                                border: none;
                                border-radius: 2px;
                                .select2-selection__rendered{
                                    font-family: $font-helvelticaRegular;
                                    padding: 0px 10px;
                                    line-height: 30px;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                }
                                .select2-selection__arrow{
                                    b{
                                        border-color: #000000 transparent transparent transparent;
                                    }
                                }
                            }
                        }
                        .select2-container--open{
                            .select2-selection__arrow{
                                b{
                                    border-color:  transparent transparent #000000 transparent !important;
                                }
                            }
                        }
                        .select2-dropdown{
                            .select2-results{
                                .select2-results__option{
                                    padding: 3px 20px;
                                    font-size: 13px;
                                    font-family: $font-helvelticaRegular;
                                    color: color(c-dark-blue-navy);
                                    &[aria-selected="true"]{
                                        background: #f5f5f5;
                                    }
                                }
                                .select2-results__option--highlighted{
                                    background: #f5f5f5;
                                    color: color(c-dark-blue-navy)
                                }
                            }
                        }
                        .form-group.guest-select{
                            display: flex;
                            justify-content: space-between;
                            select{
                                width: 49%;
                                line-height: 30px;
                            }
                            button{
                                width: 49%;
                                padding: 0 10px;
                                color: #fefbfb;
                                background: color(c-brown);
                                border: none;
                                border-radius: 2px;
                                font-size: 13px;
                                font-family: $font-helvelticaRegular;
                                text-transform: uppercase;
                            }
                        }
                        .collapse-advanced{
                            margin-top: 10px;
                            .row-select{
                                display: flex;
                                justify-content: space-between;
                                .num-adult{
                                    width: 49%;
                                    min-width: 49%;
                                }
                                .num-child{
                                    width: 49%;
                                    min-width: 49%;
                                }
                                .select2-container{
                                    width: 100% !important;
                                }
                                .select2-dropdown{
                                    width: auto !important;
                                    .select2-results{
                                        .select2-results__option{
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                            .row-select-children{
                                .title{
                                    display: block;
                                    width: 100%;
                                    text-align: center;
                                    color: color(c-white);
                                    text-transform: uppercase;
                                    font-size: 13px;
                                    letter-spacing: 0;
                                    margin-top: 15px;
                                    margin-bottom: 10px;
                                    position: relative;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        bottom: -10px;
                                        left: 0;
                                        display: block;
                                        width: 100%;
                                        height: 1px;
                                        background: #2a2825;
                                    }
                                }
                                .block-list-children{
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding-top: 10px;
                                    justify-content: center;
                                    .form-group.children-select{
                                        margin: 0 2px;
                                        .select2-selection__rendered{
                                            padding: 0 10px;
                                        }
                                    }
                                }
                                .select2-dropdown{
                                    width: auto !important;
                                }
                            }
                        }
                    }
                }
                .block-option{
                    margin-top: 20px;
                    .row{
                        justify-content: center;
                    .type-code-block{
                        width: 165px;
                        margin: 0 2.5px;
                        .select2-container{
                            width: 100% !important;
                            .select2-selection--single{
                                height: 30px;
                                border: none;
                                border-radius: 2px;
                                .select2-selection__rendered{
                                    font-family: $font-helvelticaRegular;
                                    padding: 0px 10px;
                                    line-height: 30px;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                }
                                .select2-selection__arrow{
                                    b{
                                        border-color: #000000 transparent transparent transparent;
                                    }
                                }
                            }
                        }
                        .select2-container--open{
                            .select2-selection__arrow{
                                b{
                                    border-color:  transparent transparent #000000 transparent !important;
                                }
                            }
                        }
                        .select2-dropdown{
                            .select2-results{
                                .select2-results__option{
                                    padding: 3px 20px;
                                    font-size: 13px;
                                    font-family: $font-helvelticaRegular;
                                    text-transform: uppercase;
                                    color: color(c-dark-blue-navy);
                                    &[aria-selected="true"]{
                                        background: #f5f5f5;
                                    }
                                }
                                .select2-results__option--highlighted{
                                    background: #f5f5f5;
                                    color: color(c-dark-blue-navy)
                                }
                            }
                        }
                    }
                    .block{
                        width: 165px;
                        margin: 0 2.5px;
                        input{
                            background: color(c-white);
                            border: 0;
                            border-radius: 2px;
                            font-size: 12px;
                            color: color(c-dark-blue-navy);
                            line-height: 1.308;
                            text-align: left;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 12px;
                            width: 100%;
                        }
                    }
                    .partner-info-modal-trigger{
                        color: #F1EEEA;
                        margin-left: 10px;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    }
                }
             }
         }
    }
    .booking-block.fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
}