@font-face {
    font-family: '.';
    src: url('ffa49927b2eaa4aa2ffd679f5ae14f1c.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('f3b9bbed7b808c8bcbf04e9b79db0636.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('c88e6d3267549d33ea36ea2caa30a3bf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

