html
  head
    link(rel="stylesheet" type="text/css" href="../../../views/components/homepage/framework.css")
  body
    .ImgFit(style="background-image:url('../../../assets/images/Discovery_Billboard_Lisbon_Portugal_fullscreen_billboard.jpg')")
      .SliderFullsreenButtons
        
      .textOnPic
        p.text Vietnam
          p.text learn more
    .AboutDiscovery-header
      .container-fluid
        .row
          p.AboutDiscovery-title It’s more than a membership. It’s your window to the world.
          p.content DISCOVERY is a one-of-a-kind loyalty programme that gives you recognition and benefits across 30+ hotel brands with 550+ hotels in 75 countries, and rewards you with Local Experience awards, authentic activities that help you connect to the culture and local traditions of each destination.     

 
  