extends ../layouts/master.pug

block title
  title My Page - Index

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content


  //- Desktop page
  section.page.home__page
    h2 
      a(href="http://kenh14.vn") indexPage