.banner
  .container_banner
      .wrap-title
          .title services
          br
          .content WE ARE A TEAM OF HIGHLY SKILLED PROFESSIONALS
section.services_area
    .container
        .row.grid_services_area
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/construction-icon.png' alt='service image')
                    .services_title 
                        h2 Contruction
                    .services_text
                        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                    .services_divider
                        .services_divider_separator
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/roofing-icon.png' alt='service image')
                    .services_title 
                        h2 Roofing
                    .services_text
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    .services_divider
                        .services_divider_separator
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/remodeling-icon.png' alt='service image')
                    .services_title 
                        h2 Remodeling
                    .services_text
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    .services_divider
                        .services_divider_separator
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/solar-installation-icon.png' alt='service image')
                    .services_title 
                        h2 Solar Installation
                    .services_text
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    .services_divider
                        .services_divider_separator
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/plumbing-icon.png' alt='service image')
                    .services_title 
                        h2 Plumbing
                    .services_text
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    .services_divider
                        .services_divider_separator
            .col-lg-6.col-sm-6.col-12
                .services_item
                    .services_img
                        img.img-fluid(src='../../../assets/images/electrocial-icon.png' alt='service image')
                    .services_title 
                        h2 Electrical
                    .services_text
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    .services_divider
                        .services_divider_separator