@import '_icomoon';

@font-face {
    font-family: 'Fontawesome';
    font-display: fallback;
    src: url('./fonts/FontAwesome/FontAwesome.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    font-display: fallback;
    src: url('./fonts/Kreon/Kreon-Light.woff') format('woff'),
        url('./fonts/Kreon/Kreon-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    font-display: fallback;
    src: url('./fonts/Kreon/Kreon-Regular.woff') format('woff'),
        url('./fonts/Kreon/Kreon-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    font-display: fallback;
    src: url('./fonts/Kreon/Kreon-Bold.woff') format('woff'),
        url('./fonts/Kreon/Kreon-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

//
@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans/FiraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

//font PT Sans Narrow
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('./fonts/PTSansNarrow/PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('./fonts/PTSansNarrow/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
