nav
    .container-fluid
        .row
            .col-md
                a(href="") ABOUT DISCOVERY
                //- img(src="../../../src/assets/images/arrow.png")
            .col-md
                a(href="") LOCAL EXPERIENCES
            .col-md
                a(href="") BENEFITS
            .col-md
                a(href="") JOIN DISCOVERY
section
    .container-fluid
        .row
            .col-md-4
                h1 ABOUT DISCOVERY
                .stats
                    .stats-detail
                        p 30+
                        p INDEPENDENT LUXURY HOTEL BRANDS
                    .stats-detail
                        p 550+
                        p UNIQUE PROPERTIES
                    .stats-detail
                        p 75
                        p COUNTRIES
                    .stats-detail
                        p 2,500
                        p AUTHENTIC LOCAL EXPERIENCES
                    .stats-detail
                        p 1
                        p RICHLY-REWARDING LOYALTY PROGRAMME
            .col-md-8
                    p 
                        b Welcome to DISCOVERY, a hotel loyalty programme built for the modern global explorer.
                    p DISCOVERY was founded on the simple principle that the best travel experiences come from true immersion in a destination. We cater to global nomads in search of lodgings far from generic, could-be-anywhere hotels. With recognition across 30+ independent luxury hotel brands – all with their own unique character – and more than 550+ hotels spread around the globe, DISCOVERY members can experience a property that truly reflects the culture and traditions of its location, while enjoying all the benefits of loyalty, including <b>room upgrades</b> and <b>comfort-enhancing perks.</b> 
                    a.link(href="#")
                        b LEARN MORE
                    span about DISCOVERY 
                    b benefits. 
                    p 
                        b Receive experiential rewards that are actually rewarding.
                    p DISCOVERY also recognises loyalty differently: We believe that rewarding members with authentic, memorable experiences is more valuable than collecting points. Our members accrue Local Experience awards to redeem for innovative, authentic adventures meant to connect each traveller more deeply with their destination and its people, and make each stay unforgettable. From visits to local markets, followed by personalised cooking lessons in the native cuisine, and spa services wholly grounded in traditional healing techniques, to behind-the-scenes tours of museums, and private shopping excursions, our one-of-a-kind catalogue of experiences caters to global explorers of every persuasion.
                    a.link(href="#")
                        b LEARN MORE 
                    span about 
                    b Local Experience awards.
                    p 
                        b Embrace individuality coupled with the benefits of loyalty.
                    p Whether it’s a skyscraper on the bustling streets of Bangkok or a palace along the tranquil shores of the Bosphorus, a fashionable boutique hotel down a narrow Florentine alley or a Georgian manse overlooking a picturesque London park, a chic retreat in New York’s hottest hood or an art-filled property at Melbourne’s most creative crossroads, stay differently with us.
                    p 
                        b DISCOVERY is more than a membership - it’s your window to the world.
