
.head
    #navbar 
        .container-fluid
            .row
                .col-lg-3.col-md-6.col-xs-6
                    .logo-icon
                        a(href="#homepage")
                            img(src="../../../assets/images/site-logo.svg" alt="logo")
                .col-lg-9.col-md-6.col-xs-6
                    .topnav-item-container
                    .language
                        .dropdown
                            button.dropbtn(onclick='myFunction()') ENGLISH
                            i.fas.fa-caret-down(style='color: #AC975E;')
                            #myDropdown.dropdown-content
                                a(href='#home') Home
                                a(href='#about') About
                                a(href='#contact') Contact
                  
                    .nav-items
                        a.nav-item(href="#") SPECIAL OFFERS
                        a.nav-item(href="#") DESTINATIONS
                        a.nav-item(href="#") HOTEL BRANDS
                        a.nav-item(href="#") MEMBERSHIP BENEFITS
                        a.nav-item(href="#") FIND LOCAL EXPERIENCES   
        .sticky-nav
            .container-fluid
                .row
                    .col-lg-6.col-md-12.col-xs-12
                        .sticky-nav-content
                            .search-group
                                button.search-button find hotels
                                span.Icon.Icon-search
                    .col-lg-6.col-md-12.col-xs-12
                         .sign-in
                            .sign-in-items
                                a.ii(href="#") SIGN-IN
                                a.ii(href="#") JOIN
                                a.ii(href="#") MY RESERVATIONS


