extends ./layouts/master.pug

block title
  title Kempinski

block content
<<<<<<< HEAD
  - var pages = { homePage: '/homepage', testPage: '/test'  }

  //- Desktop page
  section.page.home__page
    h1.page__title # Index Homepage

    ul(style="list-style: disc; padding-left: 4rem; margin: 4rem 0")
      each val, index in pages
        li
          a(href=val)= index
  include ./components/homepage/experiences/experiences.pug
  include ./components/homepage/gallery/gallery.pug
  include ./components/homepage/specialoffers/specialoffers.pug
  include ./components/homepage/explore/explore.pug
=======
  .page-wrapper
    .inner-page-wrapper
        include components/homepage/introducePage/introduce.pug
        include components/homepage/mapbox/mapbox.pug
        include components/homepage/experiences/experiences.pug
        include components/homepage/gallery/gallery.pug
        include components/homepage/specialoffers/specialoffers.pug
        include components/homepage/explore/explore.pug 
>>>>>>> e8153545b07f7c88a34cd10a7b87a20a6bdaeef7
