.AboutDiscovery-header
      .container-fluid
        .row
          p.AboutDiscovery-title It’s more than a membership. It’s your window to the world.
          p.content DISCOVERY is a one-of-a-kind loyalty programme that gives you recognition and benefits across 30+ hotel brands with 550+ hotels in 75 countries, and rewards you with Local Experience awards, authentic activities that help you connect to the culture and local traditions of each destination.
.u-bgMuted
   .Container
    .Grid.Grid--EditorialBox
     .Grid-cell.u-size6of12-md-up
      a.EditorialBox(href="#" target="_new")
       span.EditorialBox-img
        img(src="../../../assets/images/Discover-Nature-s-Best_bw_promo_banner.jpg" width="465" height="205" style="border: 0px  ;" alt="Discover Nature’s Best")
       .EditorialBox-content
        div
         h2
          | Discover Nature’s Best
         hr.EditorialBox-line
         p
          | Explore Mother Nature’s attractions with exciting Local Experiences during your next stay.
        span.learn-more.u-isHidden-sm-down Learn More
       span.EditorialBox-button
        span.Icon.Icon--angleRight
     .Grid-cell.u-size6of12-md-up
      a.EditorialBox(href="#")
       span.EditorialBox-img
        img(src="../../../assets/images/Mobile-App_bw_promo_banner.jpg" width="465" height="205" style="border: 0px  ;" alt="Mobile App")
       .EditorialBox-content
        div
         h2
          | Download the App
         hr.EditorialBox-line
         p Book on the go, access your membership, manage your stays, and more!
        span.learn-more.u-isHidden-sm-down Learn More
       span.EditorialBox-button
        span.Icon.Icon--angleRight
     .Grid-cell.u-size6of12-md-up
      a.EditorialBox(href="#")
       span.EditorialBox-img
        img(src="../../../assets/images/Member-Rates_bw_promo_banner.jpg" width="465" height="205" style="border: 0px  ;" alt="Member-Rates")
       .EditorialBox-content
        div
         h2
          | Book Direct & Save 10%
         hr.EditorialBox-line
         p Sign in and book a Member Rate for an instant 10% savings. 
        span.learn-more.u-isHidden-sm-down Learn More
       span.EditorialBox-button
        span.Icon.Icon--angleRight
     .Grid-cell.u-size6of12-md-up
      a.EditorialBox(href="https://www.discoveryloyalty.com/Discovery-Member-News/2018-08/Share-Your-DISCOVERY-Travel-Memories")
       span.EditorialBox-img
        img(src="../../../assets/images/DISCOVERYLOYALTY_bw_promo_banner.jpg" width="465" height="205" style="border: 0px  ;" alt="#DISCOVERYLOYALTY")
       .EditorialBox-content
        div
         h2
          | #DISCOVERYLOYALTY
         hr.EditorialBox-line
         p Share your DISCOVERY travel memories on Instagram!
        span.learn-more.u-isHidden-sm-down Learn More
       span.EditorialBox-button
        span.Icon.Icon--angleRight
