extends ../layouts/master.pug

block title
  title membership benefits

block content

  //- Desktop page
  include ../components/membership/membership.pug
  include ../components/nav-bar/nav-bar.pug
  include ../components/about/about.pug
  include ../components/local/local.pug
  include ../components/member/member.pug
  include ../components/join/join.pug
  

