extends ../layouts/master.pug

block title
  title UX and Digital Agency with locations in Vietnam, Switzerland, Australia, and Thailand | Adaptis

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content
  //- Desktop page
  include ../components/highlight_block/highlight_block.pug
  