.banner3(style='background-image:url("../../../assets/images/member.png"),-webkit-gradient(linear,right top,left top,from(transparent),to(rgba(0,0,0,.75)));')
    .container-fluid
                .banner-title3
                        h2 ENJOY YOUR NEW STATUS
                img(src="../../../assets/images/arrow.png")
section
    .container-fluid
        .row
            .col-md-4
                h1 MEMBER BENEFITS
                .stats3
                    .stats-detail3
                        p DISCOVERY has three membership levels. Stay more frequently within the programme’s hotel portfolio to move up in status. Mix and match brands and hotels as desired – each qualifying stay counts equally towards elite qualification.
                    .stats-detail3
                        p 
                            b Gold: Upon Joining 
                        p Enjoy a range of complimentary benefits as soon as you enrol in the DISCOVERY programme.
                    .stats-detail3
                        p 
                            b Platinum: 10-29 Nights 
                        p Move up to Platinum level after staying ten qualifying nights in a calendar year.
                    .stats-detail3
                        p 
                            b Black: 30+ Nights
                        p Join the upper echelons of the jet-set and upgrade to Black after 30 qualifying nights in a calendar year. 
                    .stats-detail3
                        p 
                            b Eligibility Periods
                        p Membership level is determined based upon a rolling year for new members, then on the calendar year thereafter. Once achieved, elite status remains in effect through February of the following calendar year.
                    .stats-detail3
                        p 
                            b More Questions? 
                        p For further information on the DISCOVERY programme, including how qualifying stays are determined, please visit our 
                            a.link(href="#") FAQ's.
            .col-md-8
                table
                    tr 
                        th.head-tb Membership Level
                        th.dot 
                            img(src="../../../assets/images/gold.png", alt="")  
                        th.dot
                            img(src="../../../assets/images/platinum.png", alt="")
                        th.dot
                            img(src="../../../assets/images/black.png", alt="")
                    tr
                        td Complimentary bottle of water
                        td.dot
                            img(src="../../../assets/images/gold-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Complimentary internet access
                        td.dot
                            img(src="../../../assets/images/gold-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Choice of newspaper
                        td.dot
                            img(src="../../../assets/images/gold-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Exclusive member-only offers
                        td.dot
                            img(src="../../../assets/images/gold-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Local amenity upon check-in
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td One Local Experience*
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td One Local Experience when staying at a new DISCOVERY brand for the first time*
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Guaranteed room availability at least 48 hours prior to arrival**
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                    
                    tr
                        td Guaranteed room availability at least 24 hours prior to arrival**
                        td.dot
                        td.dot
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Upgrade to the next room category at check-in***	
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                    tr
                        td Double room upgrade at check-in***
                        td.dot
                        td.dot
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Late check-out privileges until 3pm***
                        td.dot
                        td.dot
                            img(src="../../../assets/images/platinum-dot.png", alt="")
                        td.dot
                    tr
                        td Late check-out privileges until 6pm***
                        td.dot
                        td.dot
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                    tr
                        td Early check-in privileges starting at 9am***
                        td.dot
                        td.dot
                        td.dot
                            img(src="../../../assets/images/black-dot.png", alt="")
                .note
                    p   * Corresponds to membership level
                    p    ** Excludes certain dates and exceptional          events that generate high demand
                    p    *** Upon availability
                
  

