
.bgr_content_testimonial
    .clear
    .banner
        .container_banner
            .wrap-title
                .title TESTIMONIALS
                br
                .content WE ARE A TEAM OF HIGHLY SKILLED PROFESSIONALS
    .container.overHidden
        .row.column_item_testimonial
            